USE [CatchingErrors_In_EmbeddedProcedures]
GO
/****** Object:  StoredProcedure [dbo].[Solution_parentProc]    Script Date: 2/23/2020 3:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE [dbo].[test]
	/*   
	EXECUTE test 
	*/
as
DECLARE @ERRORFLAG INT = 0;
BEGIN TRY --L4	
	BEGIN TRY--L3
		BEGIN TRY--L2
			BEGIN TRY --L1
				EXEC TESTCHILD @ERRORFLAG OUTPUT;
				select @@ERROR;
				IF @ERRORFLAG = 1
					SELECT 1/0;
			SELECT 'IN L1 MAIN CODE'
			END TRY
			BEGIN CATCH --L1
				SELECT 'IN L1 CATCH'
				RAISERROR('L1', 16, 1); 
			END CATCH
		SELECT 'IN L2 MAIN CODE';
		END TRY
		BEGIN CATCH--L2
			SELECT 'IN L2 CATCH'
			IF 1=0
				RAISERROR('L2', 16, 1); 
		END CATCH
	SELECT 'IN L3 MAIN CODE'
	END TRY
	BEGIN CATCH --L3
		SELECT 'IN L3 CATCH'
	END CATCH
SELECT 'IN L4 MAIN CODE'
END TRY
BEGIN CATCH --L4
	SELECT 'IN L4 CATCH'
END CATCH
GO

------------------

----------------------
----------------------
CREATE OR ALTER PROC TestChild 
 @ERRORFLAG INT OUTPUT
as
--BEGIN TRY
	BEGIN TRY
	   SELECT 1/0;
	END TRY
	BEGIN CATCH
	 SELECT 'IN L1 TESTCHILD CATCH'
	 SET @ERRORFLAG = 0;
	-- RAISERROR('L1 RAISERROR AT END OF CATCH BLOCK, IN ONE AND MOST OUTER CATCH', 16, 1); 
	END CATCH
--END TRY
--BEGIN CATCH
--END CATCH
--GO